/* 
    Created on : 03-may-2016, 9:13:18
    Author     : Victor / Rifat
*/

html, body {
    padding-top: 30px; 
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.container-index{
    width:100%;
    margin-bottom: 10px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 0px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.contactInfo{
    margin-bottom:5px;
    display:block;
}

.contact-col{
    margin-bottom:10px;
    margin-top: 10px;
}

.glyphicon{
    margin-right: 5px;
}

.img-thumbnail{
    margin-top: -14px;
}

.center-block{
    float:none;
}

.media-preview{
    width: 150px;
    height: auto;
}

.modal-header-error{
    background-color: #ff9999;
}

.modal-body-error{
    background-color: #ffcccc;
}

.modal-header-success{
    background-color: #99ff99;
}

.modal-body-success{
    background-color: #ccffcc;
}

.row-review{
    margin-top: 3px;
    border-bottom: 1px #ddd solid;
}

.badge{
    font-size: 1.3em;
}

.navtabs-crud:hover{
    cursor: pointer;
}

.table.vertical-align > tbody > tr > td {
    vertical-align: middle;
}

#containerImageMenuItem > img{
    width: 75px;
    height: auto;
}

.menuItemImage{
    width: 64px;
    height: auto;
}