<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container" style="margin-top:10px;">
                <p class="pull-left text-muted">{{theRestaurant.description}} </p>  
<!--            <div class="col-lg-4 col-xs-12 contact-col">
                <strong>Contact us: </strong>
                <span class="contactInfo"><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{theRestaurant.email}}">{{theRestaurant.email}}</a></span>
                <span class="contactInfo"><span class="glyphicon glyphicon-phone"></span>{{theRestaurant.phone1}}</span>
                <span class="contactInfo"><span class="glyphicon glyphicon-phone-alt"></span>{{theRestaurant.phone2}}</span>
            </div> 
            <div class="col-lg-4 col-xs-12 contact-col text-right">
                <strong><span class="glyphicon glyphicon-home"></span>Where we are:</strong> 
                <span class="contactInfo">{{theRestaurant.address}}</span>
                <span class="contactInfo">{{theRestaurant.city}}</span>
                <span class="contactInfo">{{theRestaurant.zipCode}}</span>
            </div>-->
        </div>
    </div>
</footer>
