<div>
    <h1>The Menu</h1>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Course</th>
            <th>Image<th>
        </thead>
        <tbody>
            <tr ng-repeat="menuItem in menuItemsArray track by $index">			
                <td>{{menuItem.getName()}}</td>
                <td>{{menuItem.getPrice() | currency}}</td>
                <td>{{menuItem.getCourseId()}}</td>
                <td>{{menuItem.getImage()}}</td>
            </tr>
        </tbody>

    </table>
</div>
