<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="modalSignUp">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="modalSignUp">Sign Up</h4>

            </div>

            <div class="modal-body">
                <form name="registerForm" novalidate ng-submit="register()" class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': registerForm.registerUsername.$invalid || !availableUser , 'has-success':registerForm.registerUsername.$valid}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" placeholder="Username" ng-model="registerUser.username" ng-keypress="checkNick()" ng-blur="checkNick()" ng-maxlength="12" name="registerUsername"  required/>
                                <span ng-show="!registerForm.registerUsername.$invalid && availableUser" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span ng-show="registerForm.registerUsername.$invalid || !availableUser" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <p class="text-danger" ng-show="registerForm.registerUsername.$error.maxlength"><strong>Error</strong> Only 12 characters allowed!</p>
                            <p class="text-danger" ng-show="!registerForm.registerUsername.$invalid && !availableUser"><strong>Error</strong> The username "{{registerUser.username}}" exists!</p>
                        </div>

                        <div class="form-group" ng-class="{'has-error': registerForm.registerPassword.$invalid, 'has-success':registerForm.registerPassword.$valid}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" placeholder="Password" ng-model="registerUser.password" ng-keypress="checkPasswords()" ng-blur="checkPasswords()" ng-minlength="6" name="registerPassword" required/>                                    
                                <span ng-show="registerForm.registerPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span ng-show="!registerForm.registerPassword.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <p class="text-danger" ng-show="registerForm.registerPassword.$error.minlength"><strong>Error</strong> Password must be at least 6 characters!</p>
                        </div>

                        <div class="form-group" ng-class="{'has-error': registerForm.repeatPassword.$invalid || !equalPasswords, 'has-success':registerForm.repeatPassword.$valid || equalPasswords}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-repeat"></span></span>
                                <input type="password" class="form-control" placeholder="Repeat Password" ng-minlength="6" ng-model="repeatPassword" ng-keypress="checkPasswords()" ng-blur="checkPasswords()" name="repeatPassword" required/>
                                <span ng-show="equalPasswords" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span ng-show="!equalPasswords" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <p class="text-danger" ng-show="registerForm.registerPassword.$error.minlength"><strong>Error</strong> Password must be at least 6 characters!</p>
                            <p class="text-danger" ng-show="!equalPasswords"><strong>Error</strong> Passwords doesn't match!</p>                                    
                        </div>

                        <div class="form-group" ng-class="{'has-error': registerForm.registerName.$invalid, 'has-success':registerForm.registerName.$valid}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-hand-right"></span></span>
                                <input type="text" class="form-control" placeholder="Your Name" ng-model="registerUser.name" ng-pattern="/^[a-zA-Zñá-ú\s]+$/" name="registerName" required/>
                            </div>                                    
                        </div>

                        <div class="form-group" ng-class="{'has-error': registerForm.registerSurname.$invalid, 'has-success':registerForm.registerSurname.$valid}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-hand-right"></span></span>
                                <input type="text" class="form-control" placeholder="Your Surname" ng-model="registerUser.surname" ng-pattern="/^[a-zA-Z\s]*$/" name="registerSurname" required/>
                            </div>                                        
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': registerForm.registerEmail.$invalid || !availableEmail, 'has-success':registerForm.registerEmail.$valid}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="email" class="form-control" placeholder="Valid Email" ng-model="registerUser.email" ng-keypress="checkEmail()" ng-blur="checkEmail()" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" name="registerEmail" required/>
                                <span ng-show="registerForm.registerEmail.$valid && availableEmail" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span ng-show="registerForm.registerEmail.$invalid || !availableEmail" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div> 
                            <p class="text-danger" ng-show="registerForm.registerEmail.$valid && !availableEmail"><strong>Error</strong> The email "{{registerUser.email}}" exists!</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': registerForm.registerPhone.$invalid, 'has-success':registerForm.registerPhone.$valid}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone-alt"></span></span>
                                <input type="text" class="form-control" placeholder="Phone Number" ng-model="registerUser.phone" ng-pattern="/^[6-9][0-9]{8}$/" name="registerPhone" required/>
                                <span ng-show="registerForm.registerPhone.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span ng-show="!registerForm.registerPhone.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>                                     
                        </div>
                        <div class="form-group" ng-class="{'has-error': registerForm.registerAddress.$invalid, 'has-success':registerForm.registerAddress.$valid}">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home"></span></span>
                                <input type="text" class="form-control" placeholder="Address" ng-model="registerUser.address" name="registerAddress" required/>
                                <span ng-show="registerForm.registerAddress.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span ng-show="!registerForm.registerAddress.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>    
                        </div>
                        <div class="form-group"> 
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home"></span></span>
                                <select class="form-control" ng-model="province" name="registerProvince" ng-change="chargeCity()" ng-options="object.PRO for object in provinces track by object.CPRO">
                                </select>
                            </div>   
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home"></span></span>
                                <select class="form-control" ng-model="city" name="registerCity" ng-change="loadZipCode()" ng-options="object.DMUN50 for object in cities track by object.CMUM">
                                </select>
                            </div>  
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': registerForm.registerUserImage.$invalid, 'has-success':registerForm.registerUserImage.$valid}">
                            <label>User Image (optional)</label>
                            <input type="file" accept="image/*" id="registerUserImage" name="registerUserImage" required/>
                        </div>
                    </div>

            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid || !availableUser || !availableEmail || !equalPasswords">Register</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRegisteredUser" tabindex="-1" role="dialog" aria-labelledby="modalSignUp">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="modalSignUp">Register Succesfully!</h4>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <h3>Welcome aboard {{registerUser.name}}! You want to log in now? </h3>
                    <button class="btn-lg btn-info" data-dismiss="modal" ng-click="changeRegisterToLogin()">
                        Log In
                    </button>
                </div>
            </div>

            <div class="modal-footer"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>