<div class="col-md-12 col-xs-12">    
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
        <div class="form-group">
            <label>User Image</label>
            <img class="img-responsive" width="150" height="150" src="{{userLoggedIn.image}}" alt="{{userLoggedIn.username}}"/>
        </div>
    </div>

    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
        <form name="modifyDataForm" novalidate class="row">   
            <div class="form-group" ng-class="{'has-error': modifyDataForm.username.$invalid || !availableUser , 'has-success':modifyDataForm.username.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Username" ng-model="userLoggedIn.username" ng-change="checkNick()" ng-maxlength="12" name="username"  required/>
                    <span ng-show="!modifyDataForm.username.$invalid && availableUser" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="modifyDataForm.username.$invalid || !availableUser" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
                <p class="text-danger" ng-show="modifyDataForm.username.$error.maxlength"><strong>Error</strong> Only 12 characters allowed!</p>
                <p class="text-danger" ng-show="!modifyDataForm.username.$invalid && !availableUser"><strong>Error</strong> The username "{{userLoggedIn.username}}" exists!</p>
            </div>

            <div class="form-group" ng-class="{'has-error': modifyDataForm.name.$invalid, 'has-success':modifyDataForm.name.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-hand-right"></span></span>
                    <input type="text" class="form-control" placeholder="Your Name" ng-model="userLoggedIn.name" ng-pattern="/^[a-zA-Zñá-ú\s]+$/" name="name" required/>
                    <span ng-show="!modifyDataForm.name.$invalid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="modifyDataForm.name.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>                                    
            </div>

            <div class="form-group" ng-class="{'has-error': modifyDataForm.surname.$invalid, 'has-success':modifyDataForm.surname.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-hand-right"></span></span>
                    <input type="text" class="form-control" placeholder="Your Surname" ng-model="userLoggedIn.surname" ng-pattern="/^[a-zA-Z\s]*$/" name="surname" required/>
                    <span ng-show="!modifyDataForm.surname.$invalid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="modifyDataForm.surname.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>                                        
            </div> 
            
            <div class="form-group" ng-class="{'has-error': modifyDataForm.email.$invalid || !availableEmail, 'has-success':modifyDataForm.email.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="email" class="form-control" placeholder="Valid Email" ng-model="userLoggedIn.email" ng-change="checkEmail()" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" name="email" required/>
                    <span ng-show="modifyDataForm.email.$valid && availableEmail" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="modifyDataForm.email.$invalid || !availableEmail" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div> 
                <p class="text-danger" ng-show="modifyDataForm.email.$valid && !availableEmail"><strong>Error</strong> The email "{{registerUser.email}}" exists!</p>
            </div> 
        </form>
    </div>
</div>

<!--<div class="col-xs-12">
    <form name="modifyDataForm" novalidate ng-submit="register()" class="row">
        <div class="col-md-6 col-xs-12">        
            <div class="form-group" ng-class="{'has-error': modifyDataForm.registerUsername.$invalid || !availableUser , 'has-success':modifyDataForm.registerUsername.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Username" ng-model="registerUser.username" ng-keypress="checkNick()" ng-blur="checkNick()" ng-maxlength="12" name="registerUsername"  required/>
                    <span ng-show="!modifyDataForm.registerUsername.$invalid && availableUser" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="modifyDataForm.registerUsername.$invalid || !availableUser" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
                <p class="text-danger" ng-show="modifyDataForm.registerUsername.$error.maxlength"><strong>Error</strong> Only 12 characters allowed!</p>
                <p class="text-danger" ng-show="!modifyDataForm.registerUsername.$invalid && !availableUser"><strong>Error</strong> The username "{{registerUser.username}}" exists!</p>
            </div>


            <div class="form-group" ng-class="{'has-error': modifyDataForm.registerName.$invalid, 'has-success':modifyDataForm.registerName.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-hand-right"></span></span>
                    <input type="text" class="form-control" placeholder="Your Name" ng-model="registerUser.name" ng-pattern="/^[a-zA-Zñá-ú\s]+$/" name="registerName" required/>
                </div>                                    
            </div>

            <div class="form-group" ng-class="{'has-error': modifyDataForm.registerSurname.$invalid, 'has-success':modifyDataForm.registerSurname.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-hand-right"></span></span>
                    <input type="text" class="form-control" placeholder="Your Surname" ng-model="registerUser.surname" ng-pattern="/^[a-zA-Z\s]*$/" name="registerSurname" required/>
                </div>                                        
            </div>       

            <div class="form-group" ng-class="{'has-error': modifyDataForm.registerUserImage.$invalid, 'has-success':modifyDataForm.registerUserImage.$valid}">

                <label>User Image</label>
                <img class="img-responsive" width="150" height="150" src="{{userLoggedIn.image}}" alt="{{userLoggedIn.username}}"/>

                <input type="file" accept="image/*" id="registerUserImage" name="registerUserImage" required/>
            </div>



        </div>
        <div class="col-md-6 col-xs-12">

            <div class="form-group" ng-class="{'has-error': modifyDataForm.registerEmail.$invalid || !availableEmail, 'has-success':modifyDataForm.registerEmail.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="email" class="form-control" placeholder="Valid Email" ng-model="registerUser.email" ng-keypress="checkEmail()" ng-blur="checkEmail()" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" name="registerEmail" required/>
                    <span ng-show="modifyDataForm.registerEmail.$valid && availableEmail" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="modifyDataForm.registerEmail.$invalid || !availableEmail" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div> 
                <p class="text-danger" ng-show="modifyDataForm.registerEmail.$valid && !availableEmail"><strong>Error</strong> The email "{{registerUser.email}}" exists!</p>
            </div>
            <div class="form-group" ng-class="{'has-error': modifyDataForm.registerPhone.$invalid, 'has-success':modifyDataForm.registerPhone.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone-alt"></span></span>
                    <input type="text" class="form-control" placeholder="Phone Number" ng-model="registerUser.phone" ng-pattern="/^[6-9][0-9]{8}$/" name="registerPhone" required/>
                    <span ng-show="modifyDataForm.registerPhone.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="!modifyDataForm.registerPhone.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>                                     
            </div>
            <div class="form-group" ng-class="{'has-error': modifyDataForm.registerAddress.$invalid, 'has-success':modifyDataForm.registerAddress.$valid}">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home"></span></span>
                    <input type="text" class="form-control" placeholder="Address" ng-model="registerUser.address" name="registerAddress" required/>
                    <span ng-show="modifyDataForm.registerAddress.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="!modifyDataForm.registerAddress.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>    
            </div>
            <div class="form-group"> 
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home"></span></span>
                    <select class="form-control" ng-model="province" name="registerProvince" ng-change="chargeCity()" ng-options="object.PRO for object in provinces track by object.CPRO">
                    </select>
                </div>   
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home"></span></span>
                    <select class="form-control" ng-model="city" name="registerCity" ng-change="loadZipCode()" ng-options="object.DMUN50 for object in cities track by object.CMUM">
                    </select>
                </div>  
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <button class="pull-right btn btn-info"><span class="glyphicon glyphicon-save"></span>Save</button>
            </div>
        </div>
    </form>
</div>-->