<div class="container-fluid">
    <form name="restaurantInfoForm" class="form-horizontal" novalidate ng-submit="saveRestaurantInfo() && restaurantInfoForm.$valid">

        <div class="form-group" >
            <label class="control-label" for="cif">CIF</label>
            <div class="input-group">
                <input type="text" ng-class="{'has-error': restaurantInfoForm.registerCif.$invalid, 'has-success':restaurantInfo.cif.$valid}" ng-model="restaurantInfo.CIF" ng-pattern="/^[a-zA-Z0-9]*$/" name="registerCif" placeholder="CIF" required>
                <span ng-show="restaurantInfoForm.registerCif.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="restaurantInfoForm.registerCif.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group" >
            <label class="control-label" for="name">Restaurant Name</label>
            <div class="input-group">
                <input type="text" ng-class="{'has-error': restaurantInfoForm.registerName.$invalid, 'has-success':restaurantInfo.registerName.$valid}" placeholder="Restaurant Name" ng-model="restaurantInfo.name" ng-pattern="/^[a-zA-Zñá-ú\s]+$/" name="registerName" required/>
                <span ng-show="restaurantInfoForm.registerName.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="restaurantInfoForm.registerName.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>                                    
        </div>

        <div class="form-group" >
            <label for="email">Email</label>
            <div class="input-group">
                <input type="email" ng-class="{'has-error': restaurantInfoForm.registerEmail.$invalid, 'has-success':restaurantInfo.registerEmail.$valid}" ng-model="restaurantInfo.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" placeholder="Email" name="registerEmail" required>
                <span ng-show="restaurantInfoForm.registerEmail.$valid && availableEmail" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="restaurantInfoForm.registerEmail.$invalid || !availableEmail" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone1</label>
            <div class="input-group">
                <input type="text" ng-class="{'has-error': restaurantInfoForm.registerName.$invalid, 'has-success':restaurantInfo.phone1.$valid}" ng-model="restaurantInfo.phone1" ng-minlength="9" ng-maxlength="9" name="phone1" ng-pattern="/^[6-9][0-9]{8}$/" placeholder="Phone1" required>
                <span ng-show="restaurantInfoForm.phone1.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="!restaurantInfoForm.phone1.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <p class="text-danger" ng-show="restaurantInfoForm.phone1.$error.maxlength"><strong>Error</strong> Maximum 9 numbers</p>
        </div>

        <div class="form-group">
            <label for="phone2">Phone2</label>
            <div class="input-group">
                <input type="text" ng-class="{'has-error': restaurantInfoForm.registerName.$invalid, 'has-success':restaurantInfo.phone2.$valid}" ng-model="restaurantInfo.phone2" ng-minlength="9" ng-maxlength="9" name="phone2" ng-pattern="/^[6-9][0-9]{8}$/" placeholder="Phone2" required>
                <span ng-show="restaurantInfoForm.phone2.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="!restaurantInfoForm.phone2.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <p class="text-danger" ng-show="restaurantInfoForm.phone2.$error.maxlength"><strong>Error</strong> Maximum 9 numbers</p>
        </div>

        <div class="form-group" >
            <label for="address">Address</label>
            <div class="input-group">
                <input type="text" ng-class="{'has-error': restaurantInfoForm.registerAddress.$invalid, 'has-success':restaurantInfoForm.registerAddress.$valid}" ng-model="restaurantInfo.address" placeholder="Address" name="registerAddress" required>
                <span ng-show="restaurantInfoForm.registerAddress.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="!restaurantInfoForm.registerAddress.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group" >
            <label for="city">City</label>
            <div class="input-group">
                <input type="text" ng-class="{'has-error': restaurantInfoForm.registerCity.$invalid, 'has-success':restaurantInfoForm.registerAddress.$valid}" ng-model="restaurantInfo.city" name="registerCity" ng-pattern="/^[a-zA-Zñá-ú\s]+$/" placeholder="City" required> 
                <span ng-show="restaurantInfoForm.registerCity.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="!restaurantInfoForm.registerCity.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group" >
            <label for="zipcode">Zipcode</label>
            <div class="input-group">
                <input type="text" ng-class="{'has-error': restaurantInfoForm.RegisterZipCode.$invalid, 'has-success':restaurantInfoForm.registerAddress.$valid}" ng-model="restaurantInfo.zipCode" ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]{5}$/" name="RegisterZipCode" placeholder="Zipcode" required>
                <span ng-show="restaurantInfoForm.RegisterZipCode.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="!restaurantInfoForm.RegisterZipCode.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <p class="text-danger" ng-show="restaurantInfoForm.RegisterZipCode.$error.maxlength"><strong>Error</strong> Maximum 5 numbers</p>
        </div>
        <div class="form-group" >
            <label for="description">Description</label>
            <div class="input-group">
                <textarea ng-class="{'has-error': restaurantInfoForm.registerDescription.$invalid, 'has-success':restaurantInfoForm.registerAddress.$valid}" rows="2" ng-model="restaurantInfo.description" name="registerDescription" placeholder="Describe your restaurant" required> </textarea>
                <span ng-show="restaurantInfoForm.registerDescription.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="!restaurantInfoForm.registerDescription.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        </br>
        <button type="submit" ng-click="saveRestaurantInfo()" class="btn btn-danger" ng-disabled="restaurantInfoForm.$invalid || !availableEmail || equalPhoneNumbers">Save</button>

    </form>
</div>