<div class="page-header">
    <h3>Courses <small>Create &bull; Modify &bull; Delete</small></h3>
</div>

<!--Courses Add Form -->
<div class="col-xs-12">
    <button class="btn btn-info pull-left" style="margin-bottom: 5px;" id="buttonAddCourse" ng-click="showAddNewCourseForm()">Add a Course</button>
    <button class="btn btn-primary pull-right" ng-click="getCourseTypes()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <form id="coursesForm" name="coursesForm" novalidate hidden>
            <div class="form-group" ng-class="{'has-error': coursesForm.courseName.$invalid, 'has-success': courseForm.courseName.$valid}">
                <label>Name: </label>
                <input type="text" class="form-control" name="courseName" ng-model="newCourse.name" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="25" required/>
            </div>
            <div class="form-group" ng-class="{'has-error': coursesForm.coursePriority.$invalid, 'has-success': courseForm.coursePriority.$valid}">
                <label>Priority </label>
                <input type="text" class="form-control" name="coursePriority" ng-pattern="/^[0-9]$/" ng-model="newCourse.priority" ng-maxlength="2" required/>
            </div>

            <div class="form-group">
                <button class="btn btn-success" ng-disabled="coursesForm.$invalid" ng-click="addCourse()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                <button class="btn btn-danger" ng-click="cancelNewCourse();"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
            </div>
        </form>
    </div>

</div>

<div class="col-xs-12 text-center" ng-if="loadingCourses">
    <img class="img-responsive center-block" src="images/loading.gif" alt="Loading..." /> 
    <p>Loading Courses...</p>
</div>


<!--Load Courses Table -->
<div class="col-xs-12" ng-if="!loadingCourses">
    <table class="table table-stripped">
        <thead>
        <th>Name</th>
        <th>Priority</th>
        <th class="text-center" style="width: 30px;">Modify</th>
        <th class="text-center" style="width: 30px;">Delete</th>
        </thead>
        <tbody>
            <tr dir-paginate="course in arrayCourseType | itemsPerPage: pageSize" current-page="currentPage">
                <td><p ng-show="!editInputCourses[$index]">{{course.course_name}}</p>
                    <input ng-show="editInputCourses[$index]" type="text" class="form-control" ng-model="course.course_name" required/>
                </td>
                <td>{{course.priority}}</td>                    
                <td class="text-center">
                    <button id="editCourse{{$index}}" class="btn btn-sm btn-warning" ng-click="editCourseForm(course)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btn-danger" ng-disabled="editingCourses" ng-click="removeCourse(course.course_id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div class="text-center" boundary-links="true" >	
            <dir-pagination-controls boundary-links="true" template-url="templates/dir-pagination-controls.html"></dir-pagination-controls>
        </div>
    </div>
</div>

<!-- Modal modify course-->
<div class="modal fade" id="modifyCourseModal" tabindex="-1" role="dialog" aria-labelledby="modalModifyCourse">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center"><strong>Modifying Course {{courseModify.course_name}}</strong></h4>
            </div>

            <div class="modal-body">
                <form novalidate name="modifyCourseForm">
                    <div class="form-group" ng-class="{'has-error': modifyCourseForm.nameModify.$invalid, 'has-success': modifyCourseForm.nameModify.$valid}">
                        <label>Name: </label>
                        <input type="text" class="form-control" name="nameModify" ng-model="courseModify.course_name" ng-maxlength="25" required/>
                    </div>
                    
                    <div class="form-group" ng-class="{'has-error': modifyCourseForm.priorityModify.$invalid, 'has-success': modifyCourseForm.priorityModify.$valid}">
                        <label>Priority </label>
                        <input type="text" class="form-control" name="priorityModify" ng-pattern="/^[0-9]{1,2}$/" ng-model="courseModify.priority" ng-maxlength="2" required/>
                    </div>
                    
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="modifyCourseForm.$invalid" ng-click="modifyCourse()">Modify</button>
            </div>
        </div>
    </div>
</div>