<div class="col-xs-12">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': actionMenu==1}"><a ng-click="actionMenu = 1" class="navtabs-crud">Menus</a></li>
        <li ng-class="{'active': actionMenu==2}"><a ng-click="actionMenu = 2" class="navtabs-crud">Items</a></li>
        <li ng-class="{'active': actionMenu==3}"><a ng-click="actionMenu = 3; getIngredients()" class="navtabs-crud">Ingredients</a></li>
    </ul>
</div>

<div class="col-xs-12">
    <table-menus ng-show="actionMenu==1"></table-menus>
    <table-items ng-show="actionMenu==2"></table-items>
    <table-ingredients ng-show="actionMenu==3"></table-ingredients>
</div>

