<div class="page-header">
    <h3>Menu Items <small>Create &bull; Modify &bull; Delete</small></h3>
</div>

<div class="col-xs-12">
    <button class="btn btn-info" style="margin-bottom: 5px;" id="buttonAddMenuItem" ng-click="showFormAddNewMenuItem(); getIngredients(false)"><span class="glyphicon glyphicon-plus"></span>Add New</button>
    <button class="btn btn-primary pull-right" ng-click="getMenuItems(true);"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <form class="well" id="newMenuItemForm" name="newMenuItemForm" novalidate hidden>
            <div class="form-group" ng-class="{'has-error': (!newMenuItemForm.menuItemName.$valid && !newMenuItemForm.menuItemName.$pristine), 'has-success': (newMenuItemForm.menuItemName.$valid && !newMenuItemForm.menuItemName.$pristine)}">
                <label>Name*: </label>
                <input type="text" class="form-control" name="menuItemName" ng-model="newMenuItem.name" ng-maxlength="25" required/>
            </div>
            <div class="form-group" ng-class="{'has-error': (!newMenuItemForm.menuItemPrice.$valid && !newMenuItemForm.menuItemPrice.$pristine), 'has-success': (newMenuItemForm.menuItemPrice.$valid && !newMenuItemForm.menuItemPrice.$pristine)}">
                <label>Price*: </label>
                <input type="text" class="form-control" name="menuItemPrice" ng-model="newMenuItem.price" ng-currency required/>
            </div>

            <div class="form-group">
                <label>Course Type: </label>
                <select class="form-control" ng-model="newMenuItem.course" ng-options="course.getName() for course in arrayCourseTypeAux track by course.getId()">

                </select>
            </div> 

            <div class="form-group">
                <label>Ingredients*: (Select at least One)</label>
                <div class="col-xs-12">
                    <div class="btn-group" data-toggle="buttons" >
                        <div class="pull-left" style="margin-right: 5px; margin-bottom: 5px;" ng-repeat="ingredient in ingredientsArrayAux">
                            <input class="ingredientCheckBox" id="ingredientMenuItem{{$index}}" ng-click="managementMenuItemIngredients($index, ingredient)" type="checkbox" autocomplete="off"> {{ingredient.getName()}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Image (Optional):</label>
                <div class="form-group" id="containerImageMenuItem">
                    <!--Container to put the preview of the Image-->
                </div>                

                <div>                            
                    <input type="file"  accept="image/*" ng-model="editImageMenuItem" preview-container="containerImageMenuItem" id="editImageMenuItem" name="editImageMenuItem" media-preview/>
                </div>
            </div>

            <div class="form-group" style="margin-top: 15px;">
                <button class="btn btn-success" ng-disabled="newMenuItemForm.$invalid || newMenuItem.ingredients.length == 0" ng-click="addMenuItem();menuItemCreation = true;modifyMenuItemForm.$setPristine()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                <button class="btn btn-danger" ng-click="cancelNewMenuItem();modifyMenuItemForm.$setPristine();getMenuItems(true)"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
            </div>
        </form>
    </div>

</div>

<div class="col-xs-12 text-center" ng-if="loadingMenuItems">
    <img class="img-responsive center-block" src="images/loading.gif" alt="Loading..." /> 
    <p>Loading Menu Items...</p>
</div>

<div class="col-xs-12" ng-if="!loadingMenuItems" id="divTableMenuItems">
    <table class="table table-stripped vertical-align">
        <thead>
        <th></th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Course Type</th>
        <th>Ingredients</th>
        <th class="text-center" style="width: 30px;">Modify</th>
        <th class="text-center" style="width: 30px;">Delete</th>
        </thead>
        <tbody>
            <tr dir-paginate="item in menuItems | itemsPerPage: pageSize" current-page="currentPage">
                <td><img class="img-responsive menuItemImage" ng-src="{{item.image}}" alt="{{item.name}}"/></td>
                <td>{{item.getName()}}</td>
                <td>{{item.getPrice() | currency}}</td> 
                <td>{{item.getCourse().getName()}}</td>
                <td>
                    <ul>
                        <li class="list-group-item-text" ng-repeat="ingredient in item.getIngredients()">{{ingredient.getName()}}</li>
                    </ul>
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btn-warning" ng-click="editMenutItemForm(item)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btn-danger" ng-click="removeMenuItem(item)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div class="text-center" boundary-links="true">	
            <dir-pagination-controls boundary-links="true" template-url="templates/dir-pagination-controls.html"></dir-pagination-controls>
        </div>
    </div>
</div>

<!-- Modal modify Menu Item-->
<div class="modal fade" id="modifyMenuItemModal" tabindex="-1" role="dialog" aria-labelledby="modifyMenuItemModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModalMenuItem()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center"><strong>Modifying Menu Item {{menuItemAux.name}}</strong></h4>
            </div>

            <div class="modal-body">
                <form novalidate name="modifyMenuItemForm">
                    <div class="form-group" ng-class="{'has-error': (!modifyMenuItemForm.menuItemName.$valid && !modifyMenuItemForm.menuItemName.$pristine), 'has-success': (modifyMenuItemForm.menuItemName.$valid && !modifyMenuItemForm.menuItemName.$pristine)}">
                        <label>Name*: </label>
                        <input type="text" class="form-control" name="menuItemName" ng-model="menuItemAux.name" ng-maxlength="25" required/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (!modifyMenuItemForm.menuItemPrice.$valid && !modifyMenuItemForm.menuItemPrice.$pristine), 'has-success': (modifyMenuItemForm.menuItemPrice.$valid && !modifyMenuItemForm.menuItemPrice.$pristine)}">
                        <label>Price*: </label>
                        <input type="text" class="form-control" name="menuItemPrice" ng-model="menuItemAux.price" ng-currency required/>
                    </div>

                    <div class="form-group">
                        <label>Course Type: </label>
                        <select class="form-control" ng-model="menuItemAux.course" ng-options="course.getName() for course in arrayCourseTypeAux track by course.getId()">

                        </select>
                    </div> 

                    <div class="form-group">
                        <label>Ingredients*: (Select at least One)</label>
                        <div class="col-xs-12">
                            <div class="btn-group" data-toggle="buttons">
                                <div class="pull-left" style="margin-right: 5px; margin-bottom: 5px;" ng-repeat="ingredient in ingredientsArrayAux">
                                    <input class="ingredientCheckBoxMod" id="ingredientMenuItemModify{{$index}}" ng-click="managementModifyIngredients(ingredient, $index)" ng-checked="checkIngredientMenu(ingredient)"  type="checkbox"> {{ingredient.getName()}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Image (Optional):</label>
                        <div class="form-group" ng-show="changeImage" id="containerImageModifyMenuItem">
                            <!--Container to put the preview of the Image-->

                        </div>                

                        <div ng-show="!changeImage">
                            <img class="img-responsive media-preview" ng-src="{{menuItemAux.image}}" alt="{{menuItemAux.name}}" />
                        </div>

                        <div>                            
                            <input type="file"  accept="image/*"  onchange="angular.element(this).scope().hidePreviousImage(this)" ng-model="containerImageModifyMenuItem" preview-container="containerImageModifyMenuItem" id="imageModifyMenuItem" name="imageModifyMenuItem" media-preview/>
                        </div>


                    </div>

                    <div class="form-group">
                        <button class="btn btn-sm btn-danger" ng-click="cancelImageModifyItem()">Cancel Image</button>
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelModalMenuItem()">Cancel</button>
                    <button type="submit" class="btn btn-success" ng-disabled="modifyMenuItemForm.$invalid" ng-click="modifyMenuItem()">Modify</button>
                </div>
            </div>
        </div>
    </div>