<div class="col-xs-12">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': actionTable == 1}"><a ng-click="actionTable = 1" class="navtabs-crud">Tables</a></li>
        <li ng-class="{'active': actionTable == 2}"><a ng-click="actionTable = 2" class="navtabs-crud">Type</a></li>
        <li ng-class="{'active': actionTable == 3}"><a ng-click="actionTable = 3" class="navtabs-crud">Location</a></li>
    </ul>
</div>

<div class="col-xs-12">
    <table-tables ng-init="getTables()" ng-show="actionTable == 1"></table-tables>
    <table-table-types ng-init="getTableTypes()" ng-show="actionTable == 2"></table-table-types>
    <table-table-locations ng-init="getTableLocations()" ng-show="actionTable == 3"></table-table-locations>
</div>

